<footer class='footer'>
    <div class='wrapper'>
        <nav class='footer__nav'>
            <div class='footer__item'>
                <h3 class='footer__title'>Продукты</h3>
                <ul class='footer__list'>
                    <li><a routerLink='/wallet'>Кошелек</a></li>
                    <li><a routerLink='/trade'>Торги</a></li>
                    <li><a routerLink='/exchange'>Обмен</a></li>
                    <li><a routerLink='/api'>API</a></li>
                </ul>
            </div>
            <div class='footer__item'>
                <h3 class='footer__title'>Информация</h3>
                <ul class='footer__list'>
                    <li><a routerLink='/'>Комисии и лимиты</a></li>
                    <li><a routerLink='/'>Реферальная программа</a></li>
                    <li><a routerLink='/'>Служба поддержки</a></li>
                </ul>
            </div>
            <div class='footer__item'>
                <h3 class='footer__title'>Компания</h3>
                <ul class='footer__list'>
                    <li><a routerLink='/about'>О нас</a></li>
                    <li><a routerLink='/contacts'>Контакты</a></li>
                    <li><a routerLink='/news'>Новости</a></li>
                </ul>
            </div>
            <div class='footer__item'>
                <h3 class='footer__title'>Документы</h3>
                <ul class='footer__list'>
                    <li><a routerLink='/'>Договор оферты</a></li>
                    <li><a routerLink='/'>Политика конфиденциальности</a></li>
                    <li><a routerLink='/'>AML</a></li>
                    <li><a routerLink='/'>Пользовательское соглашение</a></li>
                </ul>
            </div>
        </nav>
        <div class='footer__copy'>2018 &copy; Trades.pp.ua</div>
    </div>
</footer>