<section class='section forgot'>
    <div class='wrapper'>
        <h2 class='forgot__title'>Reset Password</h2>
        <form class='form'>
            <div class='form__field form__field--error'>
                <input type='email' placeholder='Email' />
                <i class='icon-envelop'></i>
                <span class='form__field-error'>Error</span>
            </div>
            <div class='form__field'>
                <input type='password' placeholder='Password' />
                <i class='icon-key'></i>
                <span class='form__field-error'>Error</span>
            </div>
            <div class='form__field'>
                <input type='password' placeholder='Confirm Password' />
                <i class='icon-key'></i>
                <span class='form__field-error'>Error</span>
            </div>
            <div class='form__btns'>
                <button class='btn btn-primary btn--middle btn-forgot'>Confirm</button>
            </div>
            <div class='forgot__text'>Not registered yet? <a class='forgot__link' routerLink='/signup'>Create account</a></div>
        </form>
    </div>
</section>