<section class='section settings'>
    <div class='wrapper'>
        <settings-aside-component></settings-aside-component>
        
        <article class='settings__content'>
            <settings-notif-component></settings-notif-component>
            <settings-apikey-component></settings-apikey-component>
            <settings-ipaddress-component></settings-ipaddress-component>
            <settings-password-component></settings-password-component>
            <settings-security-component></settings-security-component>
            <settings-sessions-component></settings-sessions-component>
        </article>
    </div>
</section>