<section class='section notification'>
    <div class='wrapper'>
        <form class='form'>
            <div class='form__field notification__time-field'>
                <input type='checkbox' id='getNotifications' />
                <label class='time-input' for='getNotifications'>Получать оповещения о сделках и проверять их каждые <input type='text' value='5' /> минут.</label>
            </div>
            <div class='form__field'>
                <input type='checkbox' id='getNews' />
                <label class='' for='getNews'>Я хочу получать новости и рассылки на электронный ящик</label>
            </div>
        </form>
    </div>
</section>