<section class='section login'>
    <div class='wrapper'>
        <h2 class='login__title'>Login</h2>
        <form class='form'>
            <div class='form__field form__field--error'>
                <input type='email' placeholder='Email' />
                <i class='icon-envelop'></i>
                <span class='form__field-error'>Error</span>
            </div>
            <div class='form__field'>
                <input type='password' placeholder='Password' />
                <i class='icon-key'></i>
                <span class='form__field-error'>Error</span>
            </div>
            <div class='form__btns flex-space-between'>
                <a class='login__link' routerLink='/forgot-password'>Forgot password?</a>
                <button class='btn btn-primary btn--middle btn-login'>Login</button>
            </div>
            <div class='login__text'>Not registered yet? <a class='login__link' routerLink='/signup'>Create accaunt</a></div>
        </form>
    </div>
</section>