<section class='section api-key'>
    <div class='wrapper'>
        <form class='form'>
            <div class='form__field'>
                <label class='form__label'>API key</label>
                <div class='form__field-input'>
                    <input type='text' value='API key' />
                    <button class='btn-copy'><i class='icon-copy'></i></button>
                </div>
            </div>
            <div class='form__field'>
                <label class='form__label'>API secret</label>
                <div class='form__field-input'>
                    <input type='text' value='API secret' />
                    <button class='btn-copy'><i class='icon-copy'></i></button>
                </div>
            </div>
            <div class='form__btns'>
                <button class='btn btn-primary btn--small'>Сгенирировать и сохранить</button>
            </div>
        </form>
    </div>
</section>