<section class='section ip-address'>
    <div class='wrapper'>
        <form class='form'>
            <div class='form__field'>
                <input type='checkbox' id='accsess_1' />
                <label class='time-input' for='accsess_1'>Включить авторизацию только для доверенных IP-адресов</label>
            </div>
            <div class='form__field form__field--border'>
                <input type='checkbox' id='accsess_2' />
                <label class='' for='accsess_2'>Доступ к API только с доверенных IP-адресов</label>
            </div>

            <div class='form__field form__field--border'>
                <h4>Добавить новый адресс</h4>
                <label class='form__label'>IP-адресс или CIDR</label>
                <div class='form__field-input flex-space-between'>
                    <div class='ip-address__field'><input type='text' value='159.224.194.43'/></div>
                    <div class='ip-address__button'><button class='btn btn-primary btn--middle'>Добавить</button></div>
                </div>
                <div class='form__example'>159.224.194.43</div>
            </div>
            <div class='form__field'>
                <h4>Список доверенных IP адресов/CIDR</h4>
            </div>
        </form>
    </div>
</section>