<section class='section password'>
    <div class='wrapper'>
        <div class='alert-danger'>
            <p class='alert-danger__text'>
                Обратите внимание: при внесении изменений в профиль устанавливается заморозка на вывод средств в течение 3 дней
            </p>
        </div>

        <form class='form'>
            <div class='form__field'>
                <label class='form__label'>Текущий пароль</label>
                <div class='form__field-input'>
                    <input type='text' placeholder='Текущий пароль' />
                </div>
            </div>
            <div class='form__field'>
                <label class='form__label'>Новый пароль</label>
                <div class='form__field-input'>
                    <input type='text' placeholder='Новый пароль' />
                </div>
            </div>
            <div class='form__field'>
                <label class='form__label'>Повторите палоль</label>
                <div class='form__field-input'>
                    <input type='text' placeholder='Повторите палоль' />
                </div>
            </div>
            <div class='form__btns'>
                <button class='btn btn-primary btn--small'>Отправить</button>
            </div>
        </form>
    </div>
</section>