<section class='section referral'>
    <div class='wrapper'>
        <h2 class='referral__title'>Referral Program</h2>
        <div class='tabs'>
            <ul class='tabs__list'>
                <li class='tabs__list-item'>Referral link</li>
                <li class='tabs__list-item'>Banner</li>
            </ul>

            <div class='tabs__content'>
                <!-- First tab -->
                <div class='tabs__item'>
                    
                    <div class='referral__row'>
                        <div class='referral__item'>
                            <div class='alert__success'>
                                <p>It is forbidden to advertise your referral link in Yandex.Direct and Google Adwords.</p>
                            </div>
    
                            <p class='referral__text'>For new registrations with these systems, referral links will not be counted.</p>
                            <div class='referral-links'>
                                Your referral link
                                <ul class='referral-links__list'>
                                    <li class='referral-links__item'>
                                        <p class='referral-links__text'>https://trades.com/?ref=1132970</p>
                                        <button class='btn-copy'><i class='icon-copy'></i></button>
                                    </li>
                                    <li class='referral__links-item'>
                                        <p class='referral__links-text'>https://trades.me/?ref=1132970</p>
                                        <button class='btn-copy'><i class='icon-copy'></i></button>
                                    </li>
                                    <li class='referral__links-item'>
                                        <p class='referral__links-text'>https://trades.tr/?ref=1132970</p>
                                        <button class='btn-copy'><i class='icon-copy'></i></button>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        
                        <div class='referral__item'>
                            <div class='referral-counts'>
                                <div class='referral-counts__title'>Your referrals</div>
                                <div class='referral-counts__count'>0</div>
                            </div>
                        </div>
                    </div>

                    <div class='referral__row'>
                        <div class='referral__item'>
                            <div class='referral-statistic'>
                                <h4 class='referral-statistic__title'>Statistics</h4>
                                <p class='referral-statistic__text'>Exchange operations your referrals have carried out over the last 30 days</p>
                                <table class='referral-statistic__table'>
                                    <thead>
                                        <tr>
                                            <th class=''>Currency Pair</th>
                                            <th class=''>Number of transactions</th>
                                            <th class=''>Your profit</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td class=''>BTC/USD</td>
                                            <td class=''>0</td>
                                            <td class=''>0</td>
                                        </tr>
                                        <tr>
                                            <td class=''>BTC/EUR</td>
                                            <td class=''>0</td>
                                            <td class=''>0</td>
                                        </tr>
                                        <tr>
                                            <td class=''>BTC/RUB</td>
                                            <td class=''>0</td>
                                            <td class=''>0</td>
                                        </tr>
                                        <tr>
                                            <td class=''>BTC/UAH</td>
                                            <td class=''>0</td>
                                            <td class=''>0</td>
                                        </tr>
                                        <tr>
                                            <td class=''>BTC/PLN</td>
                                            <td class=''>0</td>
                                            <td class=''>0</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div class='referral__item'>
                            <div class='referral-amount'>
                                <h4 class='referral-amount__title'>Amount you can withdraw right now</h4>
                                <p class='referral-amount__text'>by pressing the ‘Transfer’ button you accept transferring funds to your wallet</p>
                                <table class='referral-amount__table'>
                                    <thead>
                                        <tr>
                                            <th class=''>Currency</th>
                                            <th class=''>Balance</th>
                                            <th class=''>&nbsp;</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td class=''>USD</td>
                                            <td class=''>0</td>
                                            <td class=''><button class='btn btn-primary'>Transfer</button></td>
                                        </tr>
                                        <tr>
                                            <td class=''>EUR</td>
                                            <td class=''>0</td>
                                            <td class=''><button class='btn btn-primary'>Transfer</button></td>
                                        </tr>
                                        <tr>
                                            <td class=''>RUB</td>
                                            <td class=''>0</td>
                                            <td class=''><button class='btn btn-primary'>Transfer</button></td>
                                        </tr>
                                        <tr>
                                            <td class=''>UAH</td>
                                            <td class=''>0</td>
                                            <td class=''><button class='btn btn-primary'>Transfer</button></td>
                                        </tr>
                                        <tr>
                                            <td class=''>PLN</td>
                                            <td class=''>0</td>
                                            <td class=''><button class='btn btn-primary'>Transfer</button></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>


                
                <!-- Second tab -->
                <div class='tabs__item'>

                </div>

            </div>    
        </div>
    </div>
</section>