<aside class='aside-settings'>
    <h2 class='settings__title'>Оповещения</h2>
    <nav class='settings__nav'>
        <ul class='settings__list'>
            <li class='settings__item active'>
                <a class='settings__link' href='#'>
                    <span class='settings__label'>Оповещения</span>
                    <span class='settings__text'>Уведомления и почтовые рассылки</span>
                </a>
            </li>
            <li class='settings__item'>
                <a class='settings__link' href='#'>
                    <span class='settings__label'>API Keys</span>
                    <span class='settings__text'>Настройки ключей</span>
                </a>
            </li>
            <li class='settings__item'>
                <a class='settings__link' href='#'>
                    <span class='settings__label'>Защита</span>
                    <span class='settings__text'>Google Authentificator, SMS</span>
                </a>
            </li>
            <li class='settings__item'>
                <a class='settings__link' href='#'>
                    <span class='settings__label'>Пароль</span>
                    <span class='settings__text'>Изменить пароль</span>
                </a>
            </li>
            <li class='settings__item'>
                <a class='settings__link' href='#'>
                    <span class='settings__label'>История доступа</span>
                    <span class='settings__text'>Сессии пользователя</span>
                </a>
            </li>
        </ul>
    </nav>
</aside>